<div class="container mx-auto mb-16">
    <div class="flex justify-between">
        <h1 class="text-2xl text-gray-400 pl-4">{{this.nombreCategoria}}</h1>
    </div>
    <!--- Content --->
    <div class="w-full">
      <div class="grid grid-cols-1 md:grid-cols-3 py-4 px-2 gap-y-16">
        <!--- Card --->
        @for (item of producCategory; track $index) {
        <div class="flex-shrink-0 h-80 m-3 rounded-3xl relative" style="box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.45);-webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.45);-moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.45);">
            <img class="w-[500px] h-[300px] rounded-3xl cursor-pointer" [src]="item.pimgUrl" alt="img">
            <!--- text --->
            <div class="w-full absolute bottom-0 p-4 text-gray-500 backdrop-blur-lg rounded-b-3xl">
                <div class="flex flex-col text-xl">
                    <h1>{{item.pnombre}}</h1>
                    <span class="flex">
                        <p>$ {{item.precio}}</p>
                    </span>
                </div>
            </div>        
            <div class="flex pt-10 gap-x-4 justify-center">
                <a (click)="detalleProducto(item.id)" class="bg-gray-600 text-white py-3 px-6 rounded-lg hover:bg-gray-500">Detalles</a>
                <a href="#" class="bg-gray-600 text-white py-3 px-6 rounded-lg hover:bg-gray-500">Comprar
                    <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
                </a>
            </div>
        </div>
      }
      </div>
    </div>
  </div>
