<div class="py-6">
    <div class="flex bg-white rounded-lg shadow-lg shadow-orange-500 overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
          <div class="w-full p-8 lg:w-1/2">
              <h2 class="text-2xl font-semibold text-gray-700 text-center">Update Usuario</h2>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                </div>
                <input [value]="userData.user?.nombre"
                [(ngModel)]="userData.nombre" name="nombre" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
                </div>
                <input [value]="userData.user?.apellido"
                [(ngModel)]="userData.apellido" name="apellido" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
              <input [value]="userData.user?.email"
              [(ngModel)]="userData.email" name="email" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">imagenUrl</label>
                </div>
                <input [value]="userData.user?.img_url"
                [(ngModel)]="userData.img_url" name="img_url" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Ciudad</label>
                </div>
                <input [value]="userData.user?.ciudad"
                [(ngModel)]="userData.ciudad" name="ciudad" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Numero de Contacto</label>
                </div>
                <input [value]="userData.user?.numeroContacto"
                [(ngModel)]="userData.numeroContacto" name="numeroContacto" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="number">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                </div>
                <input [value]="userData.user?.role"
                [(ngModel)]="userData.role" name="password" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-8">
                <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600" (click)="updateUser()">Crear</button>
            </div>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 md:w-1/4"></span>
                <a [routerLink]="['/pages/login']" class="text-xs text-gray-500 uppercase">or login</a>
                <span class="border-b w-1/5 md:w-1/4"></span>
            </div>
        </div>
        <div class="hidden lg:w-1/2 lg:flex lg:items-center lg:justify-center bg-current">
            <img src="https://cdn.create.vista.com/api/media/medium/470987420/stock-vector-add-user-gold-plated-metalic-icon-logo-vector?token=" class="w-96">
        </div>
      </div>
  </div>
