<div class="max-w-4xl mx-auto bg-gray-100 p-6 rounded-lg shadow-lg m-4">
    <!-- Encabezado con fondo -->
    <div class="relative">
      <!-- Imagen de fondo -->
      <div class="h-40 bg-cover bg-center rounded-t-lg backdrop-blur-2xl"
      [ngStyle]="{ 'background-image': 'url(' + img_url + ')' }"></div>
      <div class="absolute -bottom-12 left-6">
        <img
          class="w-24 h-24 rounded-full border-4 border-white shadow-lg"
          [src]=" img_url"
          alt="Foto de perfil"
        />
      </div>
    </div>
  
    <!-- Contenido principal -->
    <div class="mt-14 text-center">
      <!-- Nombre y título -->
      <h2 class="text-2xl font-bold text-gray-800"> {{ nombre }} {{ apellido }}</h2>
      <p class="text-gray-600 text-sm">
        {{ email }}
      </p>
      <!-- Ubicación -->
      <p class="mt-1 text-sm text-gray-500">{{ ciudad }}</p>
    </div>
  
    <!-- Información adicional -->
    <div class="mt-4 flex justify-center space-x-4">
      <!-- Portafolio -->
      <p
        class="text-blue-500 text-sm font-medium"
      >
        Mi Contacto
    </p>
      <span class="text-gray-400">|</span>
      <!-- Contactos -->
      <p class="text-sm text-gray-500"> {{ numeroContacto }} </p>
    </div>
  
    <!-- Botones -->
    @if (isUser) {
    <div class="mt-6 flex flex-wrap justify-center space-x-4">
      <button class="px-4 py-2 bg-gray-700 text-white rounded-md shadow hover:bg-gray-500"
      (click)="misCompras()">
        Mis Compras
      </button>
    </div>
  }
  </div>
  