<footer class="footer bg-secondary border-2 border-t text-base-content p-10">
    <nav>
        <h6 class="footer-title">Ayuda</h6>
        <a href="#" class="link link-hover">Envío</a>
        <a href="#" class="link link-hover">Devolucion o Cambios</a>
        <a href="#" class="link link-hover">Preguntas frecuentes</a>
        <a href="#" class="link link-hover">Comparar</a>
    </nav>
    <nav>
        <h6 class="footer-title">Compañia</h6>
        <a href="#" class="link link-hover">Sobre nosotros</a>
        <a href="#" class="link link-hover">Contacto</a>
        <a href="#" class="link link-hover">Trabajos</a>
        <a href="#" class="link link-hover">Carpeta de prensa</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a href="#" class="link link-hover">Terminos y Condiciones</a>
        <a href="#" class="link link-hover">Policiticas de Privacidad</a>
    </nav>
</footer>
<footer class="footer bg-secondary text-base-content px-10 py-4">
    <aside class="grid-flow-col items-center">
       <fa-icon class="pe-3" [icon]="['fas', 'truck-fast']" size="3x"></fa-icon>
       <p>
        Carlos Ltd.
        <br/>
        proporcionando soluciones de comercio electrónico
       </p> 
    </aside>
    <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
            <a href="#" aria-label="Twitter Shop">
                <fa-icon class="pe-3" [icon]="['fab', 'twitter']" size="3x"></fa-icon>
            </a>
            <a href="#" aria-label="Instagram Shop">
                <fa-icon class="pe-3" [icon]="['fab', 'instagram']" size="3x"></fa-icon>
            </a>
            <a href="#" aria-label="Youtube Shop">
                <fa-icon class="pe-3" [icon]="['fab', 'youtube']" size="3x"></fa-icon>
            </a>
            <a href="#" aria-label="Facebook Shop">
                <fa-icon class="pe-3" [icon]="['fab', 'facebook']" size="3x"></fa-icon>
            </a>
        </div>
    </nav>
</footer>
