<div class="py-6">
    <div class="flex bg-white rounded-lg shadow-lg shadow-orange-500 overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
          <div class="w-full p-8 lg:w-1/2">
              <h2 class="text-2xl font-semibold text-gray-700 text-center">Crear Usuario</h2>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                </div>
                <input [(ngModel)]="formData.nombre" name="nombre" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
                </div>
                <input [(ngModel)]="formData.apellido" name="apellido" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
              <input [(ngModel)]="formData.email" name="email" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">imagenUrl</label>
                </div>
                <input [(ngModel)]="formData.img_url" name="img_url" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Ciudad</label>
                </div>
                <input [(ngModel)]="formData.ciudad" name="ciudad" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Numero de Contacto</label>
                </div>
                <input [(ngModel)]="formData.numeroContacto" name="numeroContacto" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="number">
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                </div>
                <input [(ngModel)]="formData.password" name="password" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password">
            </div>
            <div class="flex items-center pt-4 space-x-4">
                <!-- Opción 1 -->
                <label class="inline-flex items-center cursor-pointer">
                  <input type="radio" name="option" [(ngModel)]="selectedOption" value="USER" class="form-radio text-blue-600 h-5 w-5">
                  <span class="ml-2 text-gray-700">USER</span>
                </label>
              
                <!-- Opción 2 -->
                <label class="inline-flex items-center cursor-pointer">
                  <input type="radio" name="option" [(ngModel)]="selectedOption" value="ADMIN" class="form-radio text-blue-600 h-5 w-5">
                  <span class="ml-2 text-gray-700">ADMIN</span>
                </label>
              </div>
            <div class="mt-8">
                <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600" (click)="crearUser()">Crear</button>
            </div>
        </div>
        <div class="hidden lg:w-1/2 lg:flex lg:items-center lg:justify-center bg-current">
            <img src="https://cdn.create.vista.com/api/media/medium/470987420/stock-vector-add-user-gold-plated-metalic-icon-logo-vector?token=" class="w-96">
        </div>
      </div>
  </div>